<launch>

    <arg name="solver" default="OpenSot"/>
    <arg name="prefix" default=""/>
    <param name="robot_description" 
        textfile="$(find cogimon_urdf)/urdf/cogimon.urdf"/>
    <param name="robot_description_semantic" 
        textfile="$(find cogimon_srdf)/srdf/cogimon.srdf"/>
    <param name="cartesian/problem_description" 
        textfile="$(find multi_contact_planning)/configs/problem/comanplus_goal_generation_stack.yaml"/>
    

    <node pkg="multi_contact_planning" type="goal_generation_test" name="goal_generation_test" required="true" output="screen" launch-prefix="$(arg prefix)">
	<param name="is_model_floating_base" type="bool" value="true"/>
        <param name="model_type" value="RBDL"/>
        <param name="planner_config"
            textfile="$(find multi_contact_planning)/configs/problem/comanplus_example_manipulation_config.yaml"/>
    </node>

    <node pkg="cartesian_interface" type="marker_spawner" name="interactive_markers" output="screen">
        <param name="ns" value="planner/goal_sampler"/>
        <param name="tf_prefix" value="planner/goal_sampler"/>
    </node>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>

    <node pkg="tf" type="static_transform_publisher" name="world_connecter_planner_goal_sampler"
        args="0 0 0 0 0 0 world planner/goal_sampler/world 30"/>


</launch>
