<launch>

    <param name="robot_description"
        textfile="$(env ROBOTOLOGY_ROOT)/external/soap_bar_rrt/multi_contact_planning/examples/utils/urdf/cogimon.urdf"/>

    <param name="robot_description_semantic"
        textfile="$(env ROBOTOLOGY_ROOT)/external/soap_bar_rrt/multi_contact_planning/examples/utils/srdf/cogimon.srdf"/>

</launch>
