<launch>

    <param name="robot_description"
        textfile="$(find multi_contact_planning)/utils/urdf/cogimon.urdf"/>

    <param name="robot_description_semantic"
        textfile="$(find multi_contact_planning)/utils/srdf/cogimon.srdf"/>

    <param name="problem_description"
        textfile="$(find multi_contact_planning)/configs/problem/coman_stack_force.yaml"/>

    <param name="problem_description_rsc"
        textfile="$(find multi_contact_planning)/configs/problem/control_stability_com_stack.yaml"/>

    <node pkg="multi_contact_planning" type="control_stability_test" name="control_stability_test" output="screen"/>
<!--    <node pkg="multi_contact_planning" type="cartesian_markers" name="cartesian_markers" output="screen"/>-->

    <node pkg="rviz" type="rviz" name="rviz"
        args="-d $(find multi_contact_planning)/configs/rviz/control_stability_test.rviz" output="screen"/>

    <node pkg="cartesian_interface" type="marker_spawner" name="marker_spawner" output="screen">
<!--        <param name="ns" value="cartesian_markers"/>-->
    </node>

</launch>
