<launch>

    <!--param name="use_sim_time" type="bool" value="true"/-->

    <arg name="solver" default="OpenSot"/>
    <arg name="prefix" default=""/>
    <arg name="use_goal_generator" default="true"/>
    <arg name="world_frame_link" default="l_sole"/>


    <param name="robot_description"
        textfile="$(find cogimon_urdf)/urdf/cogimon.urdf"/>

    <param name="robot_description_semantic"
        textfile="$(find cogimon_srdf)/srdf/cogimon.srdf"/>

    <!--param name="planner/problem_description_constraint"
        textfile="$(find multi_contact_planning)/configs/problem/comanplus_constraint_stack.yaml"/-->

    <param name="cartesian/problem_description"
        textfile="$(find multi_contact_planning)/configs/problem/comanplus_goal_generation_stack.yaml"/>

    <param name="planner/problem_description_goal"
        textfile="$(find multi_contact_planning)/configs/problem/comanplus_goal_generation_stack.yaml"/>


    <node pkg="multi_contact_planning" type="planning_server" name="planning_server" output="screen">
        <remap from="planner/goal/joint_states" to="cartesian/solution"/>
        <param name="solver" value=""/>
        <param name="is_model_floating_base" value="true"/>
        <param name="use_goal_generator" value="$(arg use_goal_generator)"/>
        <param name="planner_config"
            textfile="$(find multi_contact_planning)/configs/problem/comanplus_example_manipulation_config.yaml"/>
        <param name="world_frame_link" value="$(arg world_frame_link)"/>
        <!--param name="goal_generator_error_tolerance" value="0.001"/-->
    </node>

    <node pkg="multi_contact_planning" type="planning_scene_publisher" name="planning_scene_publisher" output="screen"/>

    <node pkg="multi_contact_planning" type="previewer" name="planner_previewer" output="screen">
	<param name="is_model_floating_base" value="true"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="world_connecter_planner_start"
        args="0 0 0 0 0 0 world planner/start/world 30"/>

    <node pkg="tf" type="static_transform_publisher" name="world_connecter_planner_goal"
        args="0 0 0 0 0 0 world planner/goal/world 30"/>

    <node pkg="tf" type="static_transform_publisher" name="world_connecter_planner_playback"
        args="0 0 0 0 0 0 world planner/world 30"/>

    <node pkg="tf" type="static_transform_publisher" name="world_connecter_planner_ci"
        args="0 0 0 0 0 0 world ci/world 30"/>

    <node pkg="tf" type="static_transform_publisher" name="world_connecter_planner_goal_sampler"
        args="0 0 0 0 0 0 world planner/goal_sampler/world 30"/>

    <node type="rviz" name="rviz" pkg="rviz"
        args="-d $(find multi_contact_planning)/configs/rviz/example_comanplus_manipulation.rviz" output="screen"/>
    
    <node if="$(arg use_goal_generator)" pkg="cartesian_interface" type="marker_spawner" name="goal_marker_spawner" output="screen">
        <param name="ns" value="planner/goal_sampler"/>
        <param name="tf_prefix" value="planner/goal_sampler"/>
    </node>
    <include unless="$(arg use_goal_generator)" file="$(find cartesian_interface)/launch/cartesio.launch">
        <arg name="tf_prefix" value="ci"/>
        <arg name="world_frame_link" value="$(arg world_frame_link)"/>
    </include>

    <node pkg="rosbag" type="play" name="bag_player" args="-l /home/paolo/catkin_ws/external/src/multi_contact_planning/point_cloud.bag"/>

</launch>
